@model int

<div class="container pt-4">
    <div class="col-12 text-center">
        <h1 class="text-success text-center">تم تأكيد عطلتك!</h1>
        رقم طلبك هو: @Model <br />
        <p>يمكنك عرض جميع تفاصيل الطلب في قسم إدارة الطلبات.</p>
        <img src="~/images/orderConfirmed.jpg" style="border-radius:20px" width="65%" />
    </div>
    <div class="col-12 text-center text-warning">
        <p class="pt-1">جهز حقائبك! أنت على بعد خطوة واحدة من عطلة رائعة!</p>
    </div>
</div>
